<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <img src="/milogo.png" alt="Logo del Museo" class="logo">
    <h1 class="title">Gran Museo del Trapo</h1>
</header>

<div class="content">
    <h1 class="gold-title">Artistas</h1>

    <div class="artist-list">
        {{#artists}}
        <div class="artist-card">
            <a href="/artist/{{id}}" class="btn-wine">{{nickname}}</a>
        </div>
        {{/artists}}
    </div>

    {{^artists}}
    <p class="no-comments">No hay artistas disponibles, somos unos tristes.</p>
    {{/artists}}

    <div class="btn-row">
        <a href="/artist/new" class="btn">Añadir un nuevo artista</a>
        <a href="/" class="btn">Volver al inicio</a>
    </div>
</div>

</body>
</html>
