<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Museo del Trapo</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<header>
    <img src="/milogo.png" alt="Logo del Museo" class="logo">
    <h1 class="title">Gran Museo del Trapo</h1>
</header>
<div class="btn-row">
    {{^logged}}
    <a href="/login" class="btn">Log In</a>
    {{/logged}}

    {{#logged}}
    <a href="/login-profile" class="btn">{{username}}'s Profile</a>
    <form action="/logout" method="post" class="d-inline">
        <button class="btn-delete" type="submit">Log Out</button>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
    {{/logged}}
</div>

</body>

</html>
