<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Museo del Trapo</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<header>
    <img src="/milogo.png" alt="Logo del Museo" class="logo">
    <h1 class="title">Gran Museo del Trapo</h1>
</header>
<div class="btn-row-log">
    {{^logged}}
    <a href="/login" class="btn">Iniciar sesión</a>
    {{/logged}}

    {{#logged}}
    <div class="btn-row">
        <a href="/login-profile" class="btn">Perfil de {{username}}</a>

        <form action="/logout" method="post" class="inline-form">
            <input type="hidden" name="_csrf" value="{{token}}"/> <!-- Token CSRF obligatorio -->
            <button type="submit" class="btn-delete">Cerrar sesión</button> <!-- Botón para logout -->
        </form>
    </div>
    {{/logged}}

</div>

</body>

</html>
