{{>header}}

<main class="content">
    <p class="gold-title" style="font-style: italic; text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);">
        Un recorrido por la historia del arte en su máxima expresión.
    </p>

    <div class="btn-row"> <!-- Usamos la clase "btn-row" que ya existe -->
        <a href="/pictures" class="btn">Ver Cuadros</a>
        <a href="/artists" class="btn">Ver Artistas</a>
        {{#admin}}
        <a href="/users" class="btn">Ver Usuarios</a>
        {{/admin}}
    </div>
    <br>
    <br>
    <div class="image-container">
        <img src="/cuadro.jpg">
    </div>
</main>

{{>footer}}