<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Museo del Trapo</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div class="container mt-4 mb-5">
    <div class="alert alert-danger" role="alert">
        <strong>Error:</strong> Invalid credentials.
    </div>
    <div class="mt-4">
        <a href="/login" class="btn btn-primary">Try again</a>
    </div>
</div>

{{>footer}}