<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cuadros</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <img src="/milogo.png" alt="Logo del Museo" class="logo">
    <h1 class="title">Gran Museo del Trapo</h1>
</header>

<main class="content">
    <h1 class="gold-title">Cuadros</h1>

    <div class="picture-list">
        {{#pictures}}
        <div class="picture-item">
            <a href="/pictures/{{id}}" class="btn-wine">{{name}}</a>
        </div>
        {{/pictures}}
    </div>

    {{^pictures}}
    <p class="no-comments">No hay cuadros disponibles, somos unos tristes</p>
    {{/pictures}}

    <div>
		<nobr>
			{{#hasPrev}}<a href="pictures?page={{prev}}">Prev</a>&nbsp;&nbsp;&nbsp;{{/hasPrev}}
			{{#hasNext}}<a href="pictures?page={{next}}">Next</a>{{/hasNext}}
		</nobr>
	</div>

    <div class="btn-row">
        <a href="/pictures/new" class="btn">Añadir un nuevo cuadro</a>
        <a href="/" class="btn">Volver al inicio</a>
    </div>
</main>

</body>
</html>