<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuadros</title>
</head>
<body>
      <h1>Cuadros</h1>

      {{#pictures}}
        <p><a href="/picture/{{id}}">{{name}}</a></p>
      {{/pictures}}

      {{^pictures}}
        <p>No hay cuadros disponibles, somos unos tristes</p>
      {{/pictures}}
      <div>
          <a href="/picture/new">
            <button>Añadir un nuevo cuadro</button><br><br>
          </a>
      </div>
      <div>
          <a href="/">
            <button>Volver al inicio</button>
          </a>
      </div>

</body>
</html>