<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Museo del Trapo</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<header>
    <img src="/milogo.png" alt="Logo del Museo" class="logo">
    <h1 class="title">Gran Museo del Trapo</h1>
</header>
<div class="user-card">
    <header>
        <h1 class="title">Tu perfil</h1>
    </header>
    <div class="user-card">
        <h2>Bienvenido!!, {{username}}</h2>
    </div>
        <div class="comments-section">
            <p><strong>Tus comentarios:</strong></p>
            <ul>
                {{#user.comments}}
                <li>{{message}}</li>
                {{/user.comments}}
                {{^user.comments}}
                <li>No comments yet by {{username}}</li>
                {{/user.comments}}
            </ul>
            <p><strong>Cuadros que te gustan:</strong></p>
            <ul class="btn-row">
                {{#user.likedPictures}}
                <li><a href="/pictures/{{id}}" class="btn">{{name}}</a></li>
                {{/user.likedPictures}}
                {{^user.likedPictures}}
                <li>No te gusta nada, amargado</li>
                {{/user.likedPictures}}
            </ul>
            <p><strong>Tu correo: {{user.email}}</strong></p>
            <div class="btn-row">
                    <a href="/login-profile/delete" class="btn-delete">Borrar cuenta</a>
                    <a href="/login-profile/edit" class="btn">Editar perfil</a>
                    <a href="/" class="btn-back">Volver</a>
                </div>
        </div>
</div>

{{>footer}}