<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Museo del Trapo</title>

    <!-- Quill -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<header>
    <img src="/milogo.png" alt="Logo del Museo" class="logo">
    <h1 class="title">Gran Museo del Trapo</h1>
</header>
<form action="/register" method="post" class="form search-form">
    <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div class="btn-row">
        <button type="submit" class="btn">Registrarse</button>
        <a href="/login" class="btn-back">Volver</a>
    </div>
    <input type="hidden" name="_csrf" value="{{token}}" />
</form>

<div id="popup" style="display: none; position: fixed; top: 20%; left: 50%; transform: translate(-50%, -50%); padding: 20px; background: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 5px;">
    <span id="popup-message"></span>
    <button onclick="hidePopup()" style="margin-left: 10px;">Cerrar</button>
</div>

{{>footer}}