{{>header}}

<div class="content">
    <h1 class="gold-title">{{picture.name}}</h1>

    <div class="image-container">
        <img src="/pictures/{{picture.id}}/picture.image">
    </div>

    <div class="picture-details">
        <p class="artist">
            {{#picture.artist.nickname}}
            <a href="/artists/{{picture.artist.id}}" class="artist-link">{{picture.artist.nickname}}</a>
            {{/picture.artist.nickname}}

            {{^picture.artist.nickname}}
            No hay artista asiociado
            {{/picture.artist.nickname}}
        </p>
        <p class="date">Fecha: {{picture.date}}</p>
        <p class="likes">&#x2764;&#xfe0f; {{picture.userLikes.size}}</p>
    </div>

    {{#logged}}
    <form action="/pictures/{{picture.id}}/likeToggle" method="post">
        <button type="submit" class="btn">{{likedPicture}}</button>
        <input type="hidden" name="_csrf" value="{{token}}">
    </form>
    {{/logged}}

    <h2 class="comments-title">Comentarios</h2>
    
    <br>

    <div class="comments-section">
        {{#picture.comments}}
        <div class="comment">
            <b>{{nameAuthor}}</b>: {{message}}
            <form action="/pictures/{{picture.id}}/comments/{{id}}/delete" method="post">
                <input type="hidden" name="_csrf" value="{{token}}"/> <!-- CSRF Token -->
                {{#admin}}
                <button type="submit" class="btn btn-delete">Eliminar</button>
                {{/admin}}
            </form>
        </div>
        {{/picture.comments}}


        {{^picture.comments}}
        <p class="no-comments">No hay comentarios aún.</p>
        {{/picture.comments}}

        {{#logged}}
        <form action="/pictures/{{picture.id}}/comments/new" method="post" class="add-comment-form">
            <label for="comment-message">Escribe un comentario:</label>

            <!-- Quill Editor -->
            <div id="editor" style="height: 150px;"></div>

            <!-- Input oculto para enviar el contenido HTML -->
            <textarea style="display: none;" id="comment-message" name="message" required></textarea>

            <button type="submit" class="btn">Agregar comentario</button>
            <input type="hidden" name="_csrf" value="{{token}}"> <!-- CSRF Token -->
        </form>
        {{/logged}}
    </div>
    <div class="btn-row">
        <a href="/pictures" class="btn-back">Volver</a>
        {{#admin}}
        <form action="/pictures/{{picture.id}}/delete" method="post"
              onsubmit="return confirm('¿Estás seguro de que deseas eliminar este cuadro?');">
            <button type="submit" class="btn-delete">Eliminar cuadro</button>
            <input type="hidden" name="_csrf" value="{{token}}">
        </form>
        {{/admin}}
    </div>

    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet">
    <!-- Initialize Quill editor -->
    <script>
        const quill = new Quill('#editor', {
            theme: 'snow'
        });
        quill.on('text-change', function () {
            let userInput = quill.root.innerHTML;
            let sanitizedInput = DOMPurify.sanitize(userInput, {ALLOWED_TAGS: []});
            document.getElementById('comment-message').value = sanitizedInput;
        });
    </script>

    <!-- Include DOMPurify -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.7/dist/purify.min.js"></script>

</div>

{{>footer}}