<html> 
    <body>
        <p>Nombre: {{picture.name}}</p>
        <p>Fecha: {{picture.date}}</p>
        <p>{{picture.imageFilename}}</p>

        <img src="{{picture.imageFilename}}"></img>
        

        <p><b>Artista: </b>
            {{#picture.author}}  
                <a href="/artists/{{picture.author.nickname}}"> {{picture.author.nickname}}</a> 
            {{/picture.author}} 
            
            {{^picture.author}}
                No hay artista asociado.
            {{/picture.author}}
        </p>
        
        <h2>Descripcion</h2>
        <p>{{picture.description}}.</p>
    
	    <a href="/">Back</a>
    </body>
</html>