<html> 
    <body>
        <h1>{{artist.nickname}}</h1>
        <p>Nombre: {{artist.name}}</p>
        <p>Apodo: {{artist.nickname}}</p>
        <p>Fecha de nacimiento: {{artist.birthDate}}.</p>

        <p><img src="https://th.bing.com/th/id/OIP.kfBzCCE-1ix8HguUazkGfwAAAA?w=156&h=180&c=7&r=0&o=5&pid=1.7"></img></p>

        <h2>Cuadros pintados por {{artist.nickname}}</h2>
        <p>
            {{#artist.paintedPictures}}
                <p>Aqui van los cuadros pintados por el</p>
            {{/artist.paintedPictures}}

            {{^artist.paintedPictures}}
                <p>Todavia no tiene cuadros el pringao</p>
            {{/artist.paintedPictures}}
        </p>

        <form action="/artist/{{id}}/delete" method="post">
            <input type='submit' value='Eliminar artista'/>
        </form>

        <p><a href="/artist/{{artist.id}}/edit">Editar artista</a></p>
	
	    <a href="/artists">Back</a>
    </body>
</html>