<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Artista</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="content">
    <h1 class="gold-title">{{artist.nickname}}</h1>
    <div class="artist-description">
        <p><strong>Nombre:</strong> {{artist.name}}</p>
        <p><strong>Apodo:</strong> {{artist.nickname}}</p>
        <p><strong>Fecha de nacimiento:</strong> {{artist.birthDate}}</p>
    </div>

    <h2 class="error-message">Cuadros pintados por {{artist.nickname}}</h2>
    <div class="picture-list">
        {{#artist.paintedPictures}}
        <p><a href="/pictures/{{id}}" class="btn">{{name}}</a></p>
        {{/artist.paintedPictures}}
        {{^artist.paintedPictures}}
        <p>Todavía no tiene cuadros el pringao</p>
        {{/artist.paintedPictures}}
    </div>

    <div class="btn-row">
        <form action="/artists/{{artist.id}}/delete" method="post">
            <input type="submit" value="Eliminar artista" class="btn btn-delete">
        </form>
        <a href="/artists/{{artist.id}}/edit" class="btn">Editar artista</a>
        <a href="/artists" class="btn">Volver</a>
    </div>
</div>
</body>
</html>
