{{>header}}

<div class="content">
    <h1 class="gold-title">{{artist.nickname}}</h1>
    <div class="artist-description">
        <p><strong>Nombre:</strong> {{artist.name}}</p>
        <p><strong>Apodo:</strong> {{artist.nickname}}</p>
        <p><strong>Fecha de nacimiento:</strong> {{artist.birthDate}}</p>
    </div>

    <h2 class="error-message">Cuadros pintados por {{artist.nickname}}</h2>
    <div class="picture-list">
        {{#artist.paintedPictures}}
        <p><a href="/pictures/{{id}}" class="btn">{{name}}</a></p>
        {{/artist.paintedPictures}}
        {{^artist.paintedPictures}}
        <p>Todavía no tiene cuadros el pringao</p>
        {{/artist.paintedPictures}}
    </div>
    {{#logged}}
    <div class="container">
        {{#artist.biography}}
        <form action="/artists/{{artist.id}}/biography" method="get">
            <input type="submit" value="Descargar Biografía" class="btn">
        </form>
        {{/artist.biography}}
        {{^artist.biography}}
        <form action="/artists/{{artist.id}}/biography" method="post" enctype="multipart/form-data">
            <!-- File input (hidden from view) -->
            <input type="file" id="file" name="file" accept=".pdf" required style="display: none;" onchange="showSelectedFileName(this)">

            <!-- Custom button to trigger file input -->
            <label for="file" class="btn">Elegir archivo:</label>

            <!-- Text to show the file name -->
            <span id="file-selected" style="margin-left: 10px; margin-right: 10px"><strong>No archivo seleccionado</strong></span>

            <!-- Submit button -->
            <input type="submit" value="Subir biografía" class="btn">
            <input type="hidden" name="_csrf" value="{{token}}">
        </form>
        {{/artist.biography}}
    </div>
    {{/logged}}
    <div class="btn-row">
        {{#admin}}
        <form action="/artists/{{artist.id}}/delete" method="post">
            <input type="submit" value="Delete artist" class="btn btn-delete">
        </form>
        {{/admin}}
        {{#logged}}
        <a href="/artists/{{artist.id}}/edit" class="btn">Editar artista</a>
        {{/logged}}
        <a href="/artists" class="btn-back">Volver</a>
    </div>
</div>

<script>
    function showSelectedFileName(input) {
        const fileName = input.files[0] ? input.files[0].name : "No se ha seleccionado ningún archivo";
        document.getElementById("file-selected").textContent = fileName;
    }
</script>

{{>footer}}