<html>
    <body>
        <h1>Users and their data</h1>

        {{#users}}
        <h2>{{name}}</h2>
        <p>Comments of <b>{{ name }}</b></p>
        <ul>
            {{#comments}}
            <li>{{ message }}</li>
            {{/comments}}
            {{^comments}}
            <li>No comments yet by {{name}}</li>
            {{/comments}}
        </ul>
        <p>Posts liked by <b>{{ name }}</b></p>
        <ul>
            {{#likedPicture}}
            <li><a href="/picture/{{id}}">{{name}}</a></li>
            {{/likedPicture}}
            {{^likedPicture}}
            <li>No liked posts by {{name}}</li>
            {{/likedPicture}}
        </ul>
        <br>
        {{/users}}
    
        <a href="/">Back</a>
    </body>
</html>