{{>header}}

<body>
<div class="content">
    <h1 class="gold-title">Users and their data</h1>

    {{#users}}
    <div class="user-card">
        <h2>{{name}}</h2>
        <p><strong>Comments of {{name}}:</strong></p>
        <ul>
            {{#comments}}
            <li>{{message}}</li>
            {{/comments}}
            {{^comments}}
            <li>No comments yet by {{name}}</li>
            {{/comments}}
        </ul>
        <p><strong>Posts liked by {{name}}:</strong></p>
        <ul>
            {{#likedPictures}}
            <li><a href="/pictures/{{id}}" class="btn">{{name}}</a></li>
            {{/likedPictures}}
            {{^likedPictures}}
            <li>No liked posts by {{name}}</li>
            {{/likedPictures}}
        </ul>
        <form action="/users/{{id}}/delete" method="post">
            <input type="submit" value="Borrar cuenta" class="btn-delete">
            <input type="hidden" name="_csrf" value="{{token}}">
        </form>
    </div>
    {{/users}}

    <a href="/" class="btn-back">Volver</a>
</div>

{{>footer}}
